@media screen and (max-width: 768px) and (min-width: 550px){
    nav{
        flex-direction: column;
        justify-content: center;

    }
}
@media screen and (max-width: 549px){
    nav{
        padding: 0px 20px;
    }
    menu{
        display: flex;
        flex-direction: column;
    }
    menu li{
        margin-bottom: 10px;
    }
    header .mainText h1{
        font-size: 40px;
        margin-top: -20px;
    }
    header .mainText p{
        font-size: 18px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 1260px){
    .recive{
        padding: 30px 20px;
        h1{
            font-size: 26px;
        }
        p{
            font-size: 18px;
            margin-bottom: 20px
        }
        .icons{
            flex-wrap: wrap;
            justify-content: center;
            div{
                max-width: 350px;
                p{
                    margin-bottom: 20px;
                }
            }
        }
    }

}
