
/* Big screen */
@media screen and (max-width: 1260px) and  (min-width: 769px){
    .container {
        /* ------------ First display --------------*/
        header{
            nav{
                padding: 0px 20px;
            }
            .mainText{
                h1{
                    font-size: 40px;
                    margin-top: -20px;
                }
                p{
                    font-size: 18px;
                }
            }
        }
        /* ------------ Second display --------------*/
        .recive{
           h1{
               font-size: 26px;
           }
           p{
               font-size: 18px;
               margin-bottom: 20px
           }
           .icons{
               flex-wrap: wrap;
               justify-content: center;
               div{
                   width: auto;
                   p{
                       margin-bottom: 20px;
                       margin-right: 20px;
                   }
               }
           }
       }
       /* ------------ Third display --------------*/
       section.expand{
           padding: 30px 45px;
           .expandText{
               h1{
                   font-size: 40px;
                   line-height: 0;
               }
               a.arrowDown{
                   margin-top: 80px;
               }
           }
       }
       section.weDo1{
           img{
               height: 300px;
           }
       }
       /* ------------ 5,6,7 display --------------*/
       section.marketing, section.advertising, section.weDo{

           .marketingCont, .advertisingCont, .weDoCont{
               .Cont_text{
                   max-width: 50%;
               }

               .marketingCont_text, .advertisingCont_text, .weDoCont_text{

                   padding-top: 5%;
                   padding-left: 10%;

                p{ }
               }
               .marketingCont_img, .advertisingCont_img, .weDoCont_img{
                   img{
                        height: inherit;
                        margin-top: 0;

                   }
               }

           }
       }
    }
}

/* Middle screen */
@media screen and (max-width: 768px) and (min-width: 550px){

    a.arrowDown{
        font-size: 30px;
        width: 45px;
        height: 45px;

    }
    .container {
        /* ------------ First display --------------*/
        header{
            nav{
                a.logo{
                    text-align: center;
                }
                padding: 0px 20px;
                flex-direction: column;
                justify-content: center;
                menu{
                    display: flex;
                    justify-content: space-around;
                    li{
                        padding: 0;
                    }
                }

            }
            .mainText{
                margin-bottom: 200px;

                h1{
                    font-size: 40px;
                    margin-top: -20px;

                }
                p{
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
        }
        /* ------------ Second display --------------*/
        section.recive{
           padding: 30px 20px;
           h1{
               font-size: 26px;
           }
           p{
               font-size: 18px;
               margin-bottom: 20px;
               width: auto;
           }
           .icons{
               flex-wrap: wrap;
               width: auto;
               padding: 0 20px;

               .icon{
                   width: auto;
                   p{
                       margin-bottom: 20px;
                   }
               }
           }
       }
       /* ------------ Third display --------------*/
       section.expand{
           padding: 30px 45px;
           .expandText{
               h1{
                   font-size: 30px;
                   line-height: 0;
               }
               a.arrowDown{
                   margin-top: 50px;
               }
           }
       }
       /* ------------ 5,6,7 display --------------*/

       section.marketing, section.advertising, section.weDo{
            padding: 0;
           .marketingCont, .advertisingCont, .weDoCont{
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

               .Cont_text{
                   max-width: 50%;
               }

               .marketingCont_text, .advertisingCont_text, .weDoCont_text{
                   max-width: 100%;
                   padding:5%;
                    p{ }
               }
               .marketingCont_img, .advertisingCont_img, .weDoCont_img{
                   text-align: center;
                   padding: 5%;
                   img{
                        height: inherit;
                        margin-top: 0;


                   }
               }

           }
       }
       section.weDo, section.marketing{
           padding-bottom: 15px;
       }
    }
}

/* Small screen */
@media screen and (max-width: 549px){

    a.arrowDown{
        font-size: 30px;
        width: 45px;
        height: 45px;

    }

    .container {
        /* ------------ First display --------------*/
        header{
            nav{
                padding: 0px 20px;
                margin-bottom: 100px;
                a.logo{
                    padding-top: 50px;
                }

                menu{
                    display: flex;
                    flex-direction: column;
                    li{
                        margin-bottom: 10px;
                    }
                }
            }
            .mainText{
                margin-bottom: 50px;
                h1{
                    font-size: 40px;
                    margin-top: -20px;
                }
                p{
                    font-size: 18px;
                    // padding-bottom: 20px;
                    margin-bottom: 20px;
                }
            }
        }
        /* ------------ Second display --------------*/
        section.recive{
           padding: 30px 20px;
           >h1{
               font-size: 26px;
           }
           >p{
               width: 95%;
               height: 55px;
               font-size: 18px;
               margin-bottom: 20px;
               padding:0 20px;
           }
           .icons{
               width: auto;
               padding: 0 20px;
               flex-wrap: wrap;
               justify-content: center;
               .icon{
                   width: auto;
                   p{
                       margin-bottom: 40px;
                   }
               }
           }
       }
       /* ------------ Third display --------------*/
       section.expand{
           padding: 0;
           .expandText{
               border: 0;
               // padding: 0;
               h1{
                   font-size: 26px;
                   line-height: 0;
                   letter-spacing: 0;
               }
               a.arrowDown{
                   margin-top: 50px;
               }
           }
       }
       /* ------------ Fourth display --------------*/
       section.ourProcess{
           .ourProcessTextBlock{

               .steps{

                   display:block;
                   p{
                       margin: 0 auto;
                       width: 80%;
                       padding: 15px 0;
                       color: #adadad;
                       font-family: "PF Encore Sans Pro - Thin";
                       font-size: 15px;
                       font-weight: 300;
                       margin: 0 auto 38px auto;
                       line-height: 26.02px;
                       letter-spacing: -0.1px;
                   }
               }
               .backProcess{
                   display: none;

               }
           }
       }
        /* ------------ 5,6,7 display --------------*/
        section.marketing, section.advertising, section.weDo{
             padding: 0;
            .marketingCont, .advertisingCont, .weDoCont{
                 margin: 0;
                 display: flex;
                 flex-direction: column;
                 justify-content: space-around;

                .Cont_text{
                    max-width: 50%;
                }

                .marketingCont_text, .advertisingCont_text, .weDoCont_text{
                    max-width: 100%;
                    padding:5%;
                     p{ }
                }
                .marketingCont_img, .advertisingCont_img, .weDoCont_img{
                    text-align: center;
                    padding: 5%;
                    img{
                         height: inherit;
                         margin-top: 0;


                    }
                }

            }
        }
        section.weDo, section.marketing{
            padding-bottom: 15px;
        }
    }
}
